.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


.navigasi ul{
  display: flex;
}

.navigasi li{
  margin: 0 20px;
  list-style: none;
  font-size: 16px;
  float: right;
}

.navigasi{
  width: 50%;
  text-align: right;
}

.pageTitle{
  text-align: left;
  width: 50%;
}

.menuIcon{
  color: white;
}

.menu{
  display: none;
}

@media only screen and (max-width: 631px){
  .menu{
    display: flex;
  }
  .navigasi{
    display: none;
  }
  .pageTitle{
    width: 100%;
  }
  .provDetail{
    border: none;
  }
}

.containerUtama h2{
  font-weight: normal;
  padding-top: 20px;
  margin-bottom: -20px;
  
}
.containerUtama h3{
  padding-bottom: 20px;
  
}
.containerUtama h2, .containerUtama h3{
  color: white
}

.totalKasus{
  background-image: linear-gradient(45deg,rgb(209, 94, 0),rgb(255, 179, 93));
  margin: 0 10px;
  animation: masuk 0.5s;

}

.totalSembuh{
  background-image: linear-gradient(45deg,rgb(27, 117, 39),rgb(39, 240, 89));
  margin: 0 10px;
  transform: scale(0);
  animation: masuk forwards;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
}

.totalMeninggal{
  background-image: linear-gradient(45deg,rgb(139, 0, 0),rgb(255, 62, 62));
  margin: 0 10px;
  transform: scale(0);
  animation: masuk forwards;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
}

@keyframes masuk{
  0%{transform: scale(0);}
  50%{transform: scale(1.1);}
  100%{transform: scale(1);}
}

.judulHome{
  margin-bottom: -18px;
}

.kasusBaru{
  margin-top: -19px;
  color: rgb(209, 94, 0);
  transform: scale(0);
  animation: masuk 0.5s forwards;
}

.sembuhBaru{
  margin-top: -19px;
  transform: scale(0);
  color: rgb(0, 161, 22);
  animation: masuk forwards;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
}
.meninggalBaru{
  margin-top: -19px;
  transform: scale(0);
  color: rgb(190, 0, 0);
  animation: masuk forwards;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
}


.margin-top-20{
  margin-top: 50px;
}

.provinsiHome h2{
  margin-bottom: -10px;
}
