.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100vh;
}

.footer{
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

.navigasi ul{
  display: flex;
}

.navigasi li{
  margin: 0 20px;
  list-style: none;
  font-size: 16px;
  float: right;
}

.navigasi{
  width: 50%;
  text-align: right;
}

.pageTitle{
  text-align: left;
  width: 50%;
}

.menuIcon{
  color: white;
}

.menu{
  display: none;
}

@media only screen and (max-width: 735px){
  .menu{
    display: flex;
  }
  .navigasi{
    display: none;
  }
  .pageTitle{
    width: 100%;
  }
  .provDetail{
    border: none;
  }
}

.containerUtama h2{
  font-weight: normal;
  padding-top: 20px;
  margin-bottom: -20px;
  
}
.containerUtama h3{
  padding-bottom: 20px;
  
}
.containerUtama h2, .containerUtama h3{
  color: white
}

.totalKasus{
  background-image: linear-gradient(45deg,#663f3f,#663f3f);
  /* background-image: ; */
  margin: 0 10px;
  animation: masuk 0.5s;

}

.totalSembuh{
  background-image: linear-gradient(45deg,#51c2d5,#51c2d5);
  margin: 0 10px;
  transform: scale(0);
  animation: masuk forwards;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
}

.totalMeninggal{
  background-image: linear-gradient(45deg,rgb(251, 54, 64),rgb(251, 54, 64));
  margin: 0 10px;
  transform: scale(0);
  animation: masuk forwards;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
}

@keyframes masuk{
  0%{transform: scale(0);}
  50%{transform: scale(1.1);}
  100%{transform: scale(1);}
}

.judulHome{
  margin-bottom: -18px;
}

.kasusBaru{
  margin-top: -19px;
  color: rgb(209, 94, 0);
  transform: scale(0);
  animation: masuk 0.5s forwards;
}

.sembuhBaru{
  margin-top: -19px;
  transform: scale(0);
  color: rgb(0, 161, 22);
  animation: masuk forwards;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
}
.meninggalBaru{
  margin-top: -19px;
  transform: scale(0);
  color: rgb(190, 0, 0);
  animation: masuk forwards;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
}


.margin-top-20{
  margin-top: 50px;
}

.provinsiHome h2{
  margin-bottom: -10px;
}

#provHome{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin-bottom: 10px;
}

#provHome tr:nth-child(even){
  background-color: #f2f2f2;
}
#provHome tr:hover {background-color: #ddd;}

#provHome th{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #3d84b8;
  color: white;
}

#provHome td, #provHome th{
  border: 3px solid rgb(255, 255, 255);
  padding: 8px;
}